/* Create a standard formating for a web app with table & form */

body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

h1 {
    font-size: 36px;
    margin: 0 0 10px;
}

h2 {
    font-size: 30px;
    margin: 0 0 10px;
}

h3 {
    font-size: 24px;
    margin: 0 0 10px;
}


p {
    margin: 0 0 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,

a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


/* Table */

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
}

th {
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    background-color: #4CAF50;
    color: white;
}

/* Form */

.form-group {
    margin-bottom: 15px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="datetime"],
.form-group input[type="datetime-local"],
.form-group input[type="date"],
.form-group input[type="month"],
.form-group input[type="time"],
.form-group input[type="week"],
.form-group input[type="number"],
.form-group input[type="url"],
.form-group input[type="search"],
.form-group input[type="tel"],
.form-group input[type="color"],
.form-group select.form-control {
    height: 50px;
    padding: 10px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="datetime"]:focus,
.form-group input[type="datetime-local"]:focus,
.form-group input[type="date"]:focus,
.form-group input[type="month"]:focus,
.form-group input[type="time"]:focus,
.form-group input[type="week"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="url"]:focus,
.form-group input[type="search"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="color"]:focus,
.form-group select.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-group select.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,
    0,
    0,
    .075),
    0 0 8px rgba(102,
    175,
    233,
    .6);
}

.form-group input[type="text"].form-control,
.form-group input[type="email"].form-control,
.form-group input[type="password"].form-control,
.form-group input[type="datetime"].form-control,
.form-group input[type="datetime-local"].form-control,
.form-group input[type="date"].form-control,
.form-group input[type="month"].form-control,
.form-group input[type="time"].form-control,
.form-group input[type="week"].form-control,
.form-group input[type="number"].form-control,
.form-group input[type="url"].form-control,
.form-group input[type="search"].form-control,
.form-group input[type="tel"].form-control,
.form-group input[type="color"].form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.form-group select.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    height: 50px;
}

.form-group select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    height: 50px;
}

.form-group textarea.form-control {
    height: auto;
}

.form-group textarea.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,
    0,
    0,
    .075),
    0 0 8px rgba(102,
    175,
    233,
    .6);
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.form-group .checkbox {
    margin-top: 10px;
}

.form-group .checkbox label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
}

.form-group .checkbox input[type="checkbox"] {
    margin-left: 0;
    position: relative;
    top: 1px;
}

.form-group .radio {
    margin-top: 10px;
}

.form-group .radio label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
}

.form-group .radio input[type="radio"] {
    margin-left: 0;
    position: relative;
    top: 1px;
}

.form-group .radio-inline {
    margin-top: 0;
    margin-right: 10px;
}

